{% extends "page.html" %}
{% block title %}{% if this.title %}{{ this.title }} - {% endif %}ApuntsFME{% endblock %}
{% block main %}
<main role="main">
{{ this.intro }}
<div id="main">
{{ this.mainsections }}
<section class="row section" id="next">
	<div class="row-content buffer even clear-after">
		<div class="section-title">
			<h3>El equipo de ApuntsFME</h3>
		</div>
		{%- for person in bag(this.bag_id) %}
		{%- if loop.index != 1 %}<br /><br />{% endif %}
		<div class="column one"></div>
		{%- if loop.cycle('odd', 'even') == 'odd' %}
		<div class="column four centertxt">
			<figure style="margin-top: 0.5em;" class="about-us">
				<center><img style="max-width: 200px;" src="/img/team/{{ person }}.svg" alt=""></center>
				<figcaption>
					<h4>{{ bag(this.bag_id, person, 'name') }}</h4>
					<p>{{ bag(this.bag_id, person, 'position') }}</p>
				</figcaption>
			</figure>
		</div>
		<div class="column six last">
			<h3 style="margin-top: 0em;">{{ bag(this.bag_id, person, 'description_title') }}</h3>
			<p>{{ bag(this.bag_id, person, '1st_paragraph')|safe }}</p>
			<p>{{ bag(this.bag_id, person, '2nd_paragraph')|safe }}</p>
		</div>
		{%- else %}
		<div class="column six">
			<h3 style="margin-top: 0em; text-align: right;">{{ bag(this.bag_id, person, 'description_title') }}</h3>
			<p style="text-align: right;">{{ bag(this.bag_id, person, '1st_paragraph')|safe }}</p>
			<p style="text-align: right;">{{ bag(this.bag_id, person, '2nd_paragraph')|safe }}</p>
		</div>
		<div class="column four centertxt last">
			<figure style="margin-top: 0.5em;" class="about-us">
				<center><img style="max-width: 200px;" src="/img/team/{{ person }}.svg" alt=""></center>
				<figcaption>
					<h4>{{ bag(this.bag_id, person, 'name') }}</h4>
					<p>{{ bag(this.bag_id, person, 'position') }}</p>
				</figcaption>
			</figure>
		</div>
		{%- endif %}
		{%- endfor %}
	</div>
</section>
</div>
</main>
{% endblock %}
