<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<meta name="description" content="The Page Description">
		<style type="text/css">@-ms-viewport{width: device-width;}</style>
		<title>{% block title %}{{ this.title }}{% endblock %}</title>
        <link rel="stylesheet" href="{{ '/css/layers.min.css'|url }}" media="screen">
        <link rel="stylesheet" href="{{ '/css/docs.min.css'|url }}" media="screen">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/all.css" integrity="sha384-/rXc/GQVaYpyDdyxK+ecHPVYJSN9bmVFBvjA/9eOB+pb3F2w2N6fc5qB9Ew5yIns" crossorigin="anonymous">
        {# La seguent linia ha estat substituida per la d'aqui a dalt -#}
        <!--<link rel="stylesheet" href="{{ '/css/font-awesome.min.css'|url }}" media="screen">-->
        <link rel="stylesheet" href="{{ '/style.css'|url }}" media="screen">
		<link href='http://fonts.googleapis.com/css?family=Montserrat:400,700|Open+Sans:400italic,700italic,400,700' rel='stylesheet' type='text/css'>
		<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
		<![endif]-->
		
		<link rel="apple-touch-icon" sizes="180x180" href="/img/icons/apple-touch-icon.png?v=6">
		<link rel="icon" type="image/png" sizes="32x32" href="/img/icons/favicon-32x32.png?v=6">
		<link rel="icon" type="image/png" sizes="192x192" href="/img/icons/android-chrome-192x192.png?v=6">
		<link rel="icon" type="image/png" sizes="16x16" href="/img/icons/favicon-16x16.png?v=6">
		<link rel="manifest" href="/img/icons/site.webmanifest?v=6">
		<link rel="mask-icon" href="/img/icons/safari-pinned-tab.svg?v=6" color="#8674b6">
		<link rel="shortcut icon" href="/img/icons/favicon.ico?v=6">
		<meta name="msapplication-TileColor" content="#00aba9">
		<meta name="msapplication-TileImage" content="/img/icons/mstile-144x144.png?v=6">
		<meta name="msapplication-config" content="/img/icons/browserconfig.xml?v=6">
		<meta name="theme-color" content="#fbfbfb">
		
		<link href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet">
        {% block addtohead %}{{ this.addtohead }}{% endblock %}
	</head>

	<body class={% block bodyclass %}{{ this.bodyclass }}{% endblock %}>
        {% block addbeforeheader %}{{ this.addbeforeheader }}{% endblock %}
		<header role="banner" class="transparent light">
			<div class="row">
				<div class="nav-inner row-content buffer-left buffer-right even clear-after">
					<div id="brand">
						<h1 class="reset"><a href="/">ApuntsFME</a></h1>
					</div>
					<a id="menu-toggle" href="#"><i class="fas fa-bars fa-lg"></i></a>
					<nav>
						<ul class="reset" role="navigation">
							{%- set root = site.get('/') %}
							<li class="menu-item">
								<a href="{{ root|url }}">{% if root.name %}{{ root.name }}{% else %}{{ root.title }}{% endif %}</a>
							</li>
							{%- for child in root.children|sort(attribute='position') %}
							{%- if child.position > 0 and child.title != "ApuntsFIB" %}
							<li class="menu-item">
								<a href="{{ child|url }}">{% if child.name %}{{ child.name }}{% else %}{{ child.title }}{% endif %}</a>
								{%- if child.title == "Apuntes" %}
								<ul class="sub-menu">
									<li><a href="{{ child|url }}?select=primero">Primero</a></li>
									<li><a href="{{ child|url }}?select=segundo">Segundo</a></li>
									<li><a href="{{ child|url }}?select=tercero">Tercero</a></li>
									<li style="text-transform: none;"><a href="/apuntsfib">ApuntsFIB</a></li>
								</ul>
								{%- endif %}
							</li>
							{%- endif %}
							{%- endfor %}
						</ul>
					</nav>
				</div>
			</div>
		</header>
        
        {% block main %}<main role="main">
        {{ this.body }}
        </main>{% endblock %}
        
        <footer role="contentinfo">
			<div class="row">
				<div class="row-content buffer clear-after">
					<section id="top-footer">
						<div class="widget column four">
							<h4>Menú</h4>
							<ul class="plain">
								{%- set root = site.get('/') %}
								<li><a href="{{ root|url }}">{% if root.name %}{{ root.name }}{% else %}{{ root.title }}{% endif %}</a></li>
								{%- for child in root.children|sort(attribute='position') %}
								{%- if child.position > 0 %}
								<li><a href="{{ child|url }}">{% if child.name %}{{ child.name }}{% else %}{{ child.title }}{% endif %}</a></li>
								{%- endif %}
								{%- endfor %}
							</ul>
						</div>
						<div class="widget column four">
							<h4>¿Aburrido?</h4>
							<p>Debes estar aburrido si estas leyendo esto... ¿Por qué no pasas unos apuntes a LaTeX? <i class="em em-wink"></i>.</p>
						</div>
						<div class="widget meta-social column four last">
							<h4>Síguenos</h4>
							<ul class="inline">
								<li><a onclick="trollMsg();" class="twitter-share border-box troll"><i class="fab fa-twitter fa-lg"></i></a></li>
								<li><a onclick="trollMsg();" class="facebook-share border-box"><i class="fab fa-facebook-f fa-lg troll"></i></a></li>
								<li><a onclick="trollMsg();" class="pinterest-share border-box"><i class="fab fa-pinterest-p fa-lg troll"></i></a></li>
							</ul>
						</div>
					</section>
					<section id="bottom-footer">
						<p class="keep-left">&copy; 2014 <a href="http://mokaine.com/" alt="Mokaine Lab">Mokaine</a>. All Rights Reserved.{% block copyright %}{{ this.copyright }}{% endblock %}</p>
						<p class="keep-right">{% if this.copyright %}<br/>{% endif %}Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod. (¿Lo has leido entero?)</p>
					</section>
				</div>
			</div>
		</footer>
	</body>

	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
	<script src="/js/plugins.js"></script>
	<script src="/js/beetle.js"></script>
	<script src="/js/troll.js"></script>
	{% block scripts %}{{ this.scripts }}{% endblock %}
</html>
