{% extends "page.html" %}
{% block main %}
<main role="main">
{{ this.intro }}
<div id="main" class="row">
	<div class="row-content buffer clear-after">{#
        <div class="bs-callout bs-callout-warning">
            La FIB ha debilitado a ApuntsFME durante unas semanas, pero el sufrimiento ha terminado. Desde ApuntsFME empezaremos a pasar apuntes en breves para que podais volver a saltaros clase sin preocuparos <i class="em em-yum"></i>.
        </div>#}
        <ul class="inline cats filter-options">
			{{ this.filters }}
		</ul>
		<div class="grid-items portfolio-section preload">
			{%- for pdf in bag(this.bag_id) %}
			<article class="item column four" data-groups='["todos", "{{ bag(this.bag_id, pdf, 'tag') }}"]'>
				<figure><img src="/img/documents/{{ pdf }}.svg" alt=""></figure>
				<a class="overlay" href={{ bag(this.bag_id, pdf, 'src') }}>
					<div class="overlay-content">
						<img style="margin-left: auto; margin-right: auto; width: 15%;" src="/img/documents/{{ bag(this.bag_id, pdf, 'type') }}_contorno.svg" class="post-type" alt="">
						<h2>{{ bag(this.bag_id, pdf, 'title') }}</h2>
						<p>{{ bag(this.bag_id, pdf, 'subtitle') }}</p>
					</div>
				</a>
			</article>
			{%- endfor %}
			<div class="shuffle-sizer four"></div>
		</div>
	</div>
</div>
</main>
{% endblock %}
